
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

html, body, div, h1, h2, h3, h4, span {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

body { 
    background-color: #d9edf7;
}

h1 {
    font: 300 38px/40px "Source Sans Pro","Helvetica Neue","HelveticaNeue",Arial,Helvetica,"Lucida Grande",sans-serif;
}

div {
    display: block;
}

footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}
 
#search {
    background: #333333 url("../../images/backgroudhome.jpg") top no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1000;
}

#feature {
    padding: 280px 0 20px;
    position: relative;
    z-index: 200;
    overflow: hidden;
}

#feature-wrap {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;

    #feature-search {
        text-shadow: 1px 1px 1px #000000;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        font-weight: bold;

        select {
            padding: 10px 20px;
        }

        input {
            margin: 0;
            padding: 10px 20px;
            font: 300 20px/20px "source sans pro";
            border: none;
            -webkit-border-radius: 3px 3px 3px 3px;
            -moz-border-radius: 3px 3px 3px 3px;
            -ms-border-radius: 3px 3px 3px 3px;
            border-radius: 3px 3px 3px 3px;
            display: block;
            width: 100%;
            vertical-align: middle;
        }

        #StateSpan {
            margin-right: 50px;
        }

        button {
            right: 0;
            top: 0;
            font: 300 22px/20px "source sans pro";
            padding: 13px 20px;
            margin: 0;
            width: 110px;
            background: #008000;
            border: none;
            -webkit-border-radius: 0 3px 3px 0;
            -moz-border-radius: 0 3px 3px 0;
            -ms-border-radius: 0 3px 3px 0;
            border-radius: 0 3px 3px 0;
            color: #fff;

            i {
                font-size: 16px;
                line-height: 16px;
                position: relative;
                top: -2px;
            }
        }

        #ButtonSearch {
            right: 0;
            top: 0;
            font: 300 22px/20px "source sans pro";
            padding: 13px 20px;
            margin: 0;
            width: 110px;
            background: #008000;
            border: none;
            -webkit-border-radius: 0 3px 3px 0;
            -moz-border-radius: 0 3px 3px 0;
            -ms-border-radius: 0 3px 3px 0;
            border-radius: 0 3px 3px 0;
            margin-right: 10px;
            color: #fff;
            margin-top: 15px;
        }

        h1 {
            text-align: left;
            margin: 0 0 10px 0;
            letter-spacing: -1px;
            display: block;
            color: #fff;
        }

        .search {
            position: relative;
        }
        /* Hide/rearrange for smaller screens */
        @media screen and (max-width: 991px) {
            /* Hide captions */
            input, select {
                margin-left: 15px;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            select {
                margin-top: 25px;
                margin-bottom: 23px;
            }

            #StateSpan {
                margin-left: -29px;
            }
        }
    }
}
// Search Result
#SearchResult
{
   margin-top: 20px;
}

.largeFont {
    font-size: 37px;
    text-align: center;
}

#cityzip {
    font-size: 20px;
    text-align: center;
}
